/* ## RESET ##  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:after,*:before {
  box-sizing: border-box;
}
body,input,select,button {
  font-family: 'Manrope';
}
body {
  color: #000;
}
/* ## END RESET ##  */
/* ## HEADER */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom:100px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
 }

 .main-header {
  padding: 28px 0;
  font-size: 14px;
  font-weight: 600;
 }
 .main-nav__link {
  color: #000;
  text-decoration: none;
  line-height: 1.38em;
  margin-right: 25px;
 }

 .main-nav__link--dropdown:after {
    content: " ";
    background: url('../assets/arrow-down.svg') no-repeat center;
    background-size: 100%;
    width: 7px;
    height: 4px;
    display: inline-block;
    margin-left: 12px;
    position: relative;
    top: -3px;
 }
.btn { 
  padding: 17px 35px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.38em;
  background: #4F46BA;
  border-radius: 10px;
  text-decoration: none;
}
.main-nav__btn {
  float: right;
}
.right-nav {
  display: flex;
  align-items: center;
}
/* ## END HEADER */


/* section hero*/

.hero .container {
  width: 1179px;
  height: 537px;
  width: 100%;
  height: 438px;
  margin: 0 auto;
  margin-bottom: 110px;
}
.hero{
	margin-top: 99px;
}
.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 71px;
  gap: 110px;
}

.hero-left{
	width: 646px;
  height: 468px;
}
h1{

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: -0.03em;
  color: #000000;
}
.hero__title{
	width: 606px;
  height: 222px;

}
p{
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #64607D;
}
.hero__text{
  width: 446px;
  height: 90px;
  left: 198px;
  top: 422px;
  
  
}
.hero__click{
	margin-top: 17px;
}
.hero__btn{
	border-radius: 47px;
}
.hero__link:before{
	content: " ";
    background: url('../assets/seehowitworkslogo.png') no-repeat center;
    background-size: 100%;
    width: 60px;
    height: 60px;
    display: inline-block;
	  margin-right: 10px;
	  margin-left: 20px;
    position: relative;
    top: 20px;
	
}
.hero__link{
	text-decoration: none;
	
}
.hero-form{
  margin-top: 20px;
	width: 356px;
    height: 280px;
	
}
.hero__subtitle{
	padding-bottom: 22px;
	font-weight: 700;
font-size: 24px;
line-height: 30px;
letter-spacing: -0.02em;
color: #3734A9;

}
.hero__input{
width: 356px;
height: 60px;
background: #FFFFFF;
border: 1px solid #DFE4F1;
border-radius: 5px;
margin-bottom: 22px;
padding-left: 21px;

font-weight: 500;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.02em;
color: #64607D;
opacity: 0.4;
}
.hero__submit{
  display: inline-block;
width: 360px;
height: 60px;
background: #FF7F5C;
border-radius: 5px;
padding: 17px 114px;
color: #fff;
font-size: 18px;
font-weight: 600;
line-height: 1.38em;
border-radius: 10px;
text-decoration: none;

}

/*section feature */

.featured .container{
	
  width: 1440px;
  height: 139px;
  text-align: center;

}
.featured__title{
  
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;
text-align: center;
color: #000000;
margin-bottom: 36px;
}

.featured__logos{
	display: flex;
	align-items: center;
  justify-content: space-evenly;
}


/*section about */


.about .container{
  width: 699px;
height: 206px;



}
.about{
  text-align: center;
 
}
.about__info{
  margin-bottom: 30px;
}

.about__title h1{
  font-size: 42px;
line-height: 60px;
margin-bottom: 13px;
}
.about__text{
  width: 604px;
  height: 60px;
  margin-left: 50px;

}
.about__text p{
  font-size: 20px;
line-height: 30px;
text-align: center;

}
.about__btn{
  display: inline-block;
  width: 549px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height:10px;

}


/*section process*/





.process .container{
  width: 1043px;
  height: 228px;
  

}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 85px;
  text-align: left;
  
}
.Col{
  height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.process__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color:#E8F2FF ;
  border-radius: 15px;
 
}
.process__title{
  font-weight: 800;
font-size: 16px;
line-height: 30px;
letter-spacing: -0.03em;
color: #000000;
}
.process__text{
  font-weight: 500;
font-size: 14px;
line-height: 24px;
letter-spacing: -0.02em;
color: #757095;
}

.Col1{
  background-image: url(/assets/1.png);
  background-repeat: no-repeat;
  background-position:top right;
}
.Col2{
  background-image: url(/assets/2.png);
  background-repeat: no-repeat;
  background-position:top right;
}
.Col3{
  background-image: url(/assets/3.png);
  background-repeat: no-repeat;
  background-position:top right;
}


/* section cta */

.cta .container{
  width: 1044px;
  height: 196px;
  background: #F8F9FD;
  border-radius: 10px;
}

.cta__info{
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 85px;
  padding: 38px 70px;
  align-items: center;
 
}

.cta__title{
  font-weight: 800;
font-size: 36px;
line-height: 56px;
letter-spacing: -0.03em;
color: #000000;
}
.cta__btn{
  width: 181px;
  height: 60px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding-top: -5px;
}


/* section content */


.content .container{
  display: grid;
  grid-template-columns: 40% 60%;
  gap:200px;
}


.content img{
  width: 775.22px;
  height: 737px;
}


.content__info{
  width: 499.75px;
  height: 482.48px;
  margin-top: 110px;
 
  
}
.content__subtitle{
  font-weight: 700;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
color: #3734A9;
margin-bottom: 15px;
}
.content__title{
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #000000;
  margin-bottom: 29px;
}
.content__text{
  font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.02em;
color:#64607D;
margin-bottom: 10px;
}



.content__list{
  line-height: 30px;

}

.content__li::before{
  content: " ";
    background: url('../assets/lilogo.png') no-repeat center;
    background-size: 100%;
  
    width: 24.48px;
    height: 24.69px;
    display: inline-block;
  
}
